* {
	margin: 0px;
	padding: 0px;
}
.App__input {
	position: absolute;
	top: 20px;
	left: 25%;
	right: 25%;
}

input.location-search-input {
	width: 95%;
	padding: 10px;
	border-radius: 3px;
	border: 1.9px solid grey;
	box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
}
.suggestion-item {
	padding: 10px;
	background-color: #f2f2f2;
	color: black;
	border-bottom: 3px solid #f2f3f4;
}
.suggestion-active {
	padding: 10px;
	color: black;
	font-weight: bold;
	background-color: white;
	border-bottom: 3px solid #f2f3f4;
}
.autocomplete-dropdown-container {
	box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
}
